* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Mono", monospace;
}
.text-title {
  font-size: 44px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #f49560;
  text-align: center;
  margin-top: 20px;
}
.head-title {
  font-size: 21px;
  text-align: center;
  color: #f49560;
  font-weight: 300;
}
.search-field {
  margin-left: 560px;
  margin-top: 20px;
}
.search-item {
  width: 370px;
  height: 50px;
  border: 3px solid #f49560;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-left: 10px;
  letter-spacing: 2px;
  color: #f49560;
  font-weight: 500;
}
.search-btn {
  font-size: 25px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: #f49560;
  border: none;
  margin-left: -10px;
  padding-bottom: 10px;
  padding-top: 3.7px;
  padding-left: 10px;
  padding-right: 15px;
  color: #fff;
  transition: 0.4s linear;
}
.search-btn:hover {
  background: tomato;
}
.details-btn {
  font-size: 18px;
  padding: 5px 40px;
  border-radius: 30px;
  background-color: #f54e46;
  color: #ffff;
  letter-spacing: 1px;
  border: 2px solid #f54e46;
  transition: 0.5s linear;
  text-decoration: none;
  width: 100%;
}
.details-btn:hover {
  background-color: transparent;
  color: #f54e46;
}
.card {
  box-shadow: 3px 3px 3px rgba(83, 83, 83, 0.034),
    3px 3px 3px rgba(83, 83, 83, 0.034), 3px -3px 15px rgba(0, 0, 0, 0.2),
    -3px -3px 15px rgba(0, 0, 0, 0.2);
  width: 95%;
  border-radius: 10px;
  margin: 0 auto;
}
.card-img {
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
}
.card-title {
  font-size: 20px;
  color: #190f31b9;
  font-weight: 600;
  letter-spacing: 1px;
}
